[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".config/fish/.config/fisherman/batman"]
	path = .config/fish/.config/fisherman/batman
	url = https://github.com/oh-my-fish/theme-batman
